<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Простой HTTP-сервер.</title>
</head>
<body>
    <div>{div_placeholder_1}</div>
    <br>
    <div style="margin-top: 20px">
        <form action="#" method="post">
            <label for="msg">ВАШЕ СООБЩЕНИЕ:</label>
            <br>
            <textarea style="width:300px; height:200px" id="msg" name="user_message"></textarea>
        </form>
    </div>
    <ui class ="button"> <button type = "submit"> Отправить</button> </ui>
</body>
</html>